.grid {
  display: grid;
  padding: 50px;
  grid-template: 200px / repeat(3, 200px);
  gap: 20px;
  grid-auto-columns: 200px;
  grid-auto-rows: 200px;
  flex-grow: 1;
  justify-content: space-evenly;
}

.book {
  border: 2px #023047 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-evenly;
  align-items: start;
  padding: 20px;
}

.library {
  display: flex;
  flex: 1;
}
